<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/header'); %>
</head>
<body>
  <section class="white-center">
    <p class="cancel">Forgot to add something to your cart? Shop around then come back to pay! <a href="/">back home</a></p>
  </section>
</body>
<%- include('./partials/scripts'); %>
</html>