<!DOCTYPE html>
<html>
<head>
  <title>Checkout canceled</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <section class="white-center">
    <p class="cancel">Forgot to add something to your cart? Shop around then come back to pay! <a href="/">back home</a></p>
  </section>
</body>
</html>