<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <section class="white-center">
    <p>
      Purchase successful <br>
      Entitlement "<%= Object.keys(subscriber.entitlements)[0] %>"<br />
      User ID "<%= subscriber.original_app_user_id %>"
    </p>
  </section>
</body>
</html>