<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/header'); %>
</head>
<body>
  <section class="white-center">
    <p>
      Purchase successful <br>
      Entitlement "<%= Object.keys(subscriber.entitlements)[0] %>"<br />
      User ID "<%= subscriber.original_app_user_id %>"
    </p>
  </section>
</body>
<%- include('./partials/scripts'); %>
</html>